/*## Styles for the form-to-table example.
//
// See <a href='showsource.html?source=examples/form-to-table/index.html'>HTML source</a>.
//
// See <a href='showsource.html?source=examples/form-to-table/app.js'>Javascript source</a>.
//
// There is nothing special about using styles with
// the Tags framework. This just specifies some minimal
// styles to get a clean display.
*/
div.form {padding:5px; width:500px; min-width:350px;
          border:solid thin green; background-color:#efe;
          box-shadow: 5px 5px 5px #888; 
          overflow:hidden; resize:horizontal;}
td.nodata {text-align:center;}
